{% extends 'layout.html.twig' %}

{% block title %}Recettes Tafforet | Délicieuses et originales
{% endblock %}

{% block meta_description %}
	Trouvez les meilleures recettes Tafforet, simples et délicieuses. Découvrez également des suggestions de vins pour accompagner vos plats.
{% endblock %}

{% block content %}
	<h1 class="title-recipe">Les recettes Tafforet</h1>
	<figure class="img-recipe">
		<img src="/assets/images/image-recipe.png" alt="Image comportant un poisson dans une assiette">
	</figure>
	<section class="recipes-container">
		{% for recipe in recipes %}
			<article id="article-{{ loop.index }}">
				<h2>{{ recipe.name }}</h2>
				<div class="content-container">
					<div class="text-content">
						<h3>Ingrédients
						</h3>
						{{ recipe.content|raw }}</div>
					<figure class="image-content">

						{% for file in recipe.files %}
							<img src="/uploads/{{ file.name }}" alt="Image de {{ recipe.name }}">
						{% endfor %}

						{# <img src="/uploads/{{ recipe.image1 }}" alt="Image de {{ recipe.name }}">
																		{% if recipe.image2 is not null %}
																			<img src="/uploads/{{ recipe.image2 }}" alt="Image{{ recipe.name }}">
																		{% endif %} #}
					</figure>
					<div class='back-content'>
						{{ recipe.back_content|raw }}
					</div>
				</div>
				<a href="#article-{{ loop.index }}" role="button" aria-label="Voir la préparation pour {{ recipe.name }}">Préparation : clique ici</a>
			</article>
		{% endfor %}
		<aside class="recette-container">
			<h3>Suggestion de vin pour accompagner vos recettes
				<img src="/assets/images/vin.png" alt="Verre de vin">
			</h3>
		</aside>
		<div class="list-vin">
			{% for wine in wines %}
				<h4>{{ wine.type }}
					:</h4>
				{{ wine.name|raw }}
			{% endfor %}
		</div>
	</section>
	<script src="/assets/js/turn_card.js"></script>
{% endblock %}
