{% extends 'Admin/layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin/product_css/_admin_product.css">
{% endblock %}
{% block content %}
	<h1 class="product-list-title">Liste des produits</h1>
	<a href="/product/add" class="add-admin">Ajouter un nouveau produit</a>
	<table role="grid" class="product-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Information</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td class="product-cell">{{product.id}}</td>
					<td class="product-cell">
						{{product.name}}
					</td>
					<td class="product-cell">{{product.description|raw}}</td>
					<td class="product-cell">{{product.information|raw}}</td>
					<td class="product-cell">{{product.categoryType}}</td>
					<td class="product-cell">
						<a href="/product/edit?id={{product.id}}">Modifier</a>
					</td>
					<td class="product-cell">
						<a href="/product/delete?id={{product.id}}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
